/*
https://github.com/soulhotel/FF-ULTIMA

z-site-scrollbars-and-pip.css ~ themes the scrollbar inside of your browser tab content

z-sites.css ~ themes YOUTUBE and REDDIT

z-sites-newtab.css ~ NEW TABS

simply delete a line below to remove the feature, open website in new tab, no restarts needed.
*/

@import url(theme/z-site-scrollbars-and-pip.css);
@import url(theme/z-sites.css);
@import url(theme/z-site-newtab.css);


@-moz-document url("about:newtab"), url("about:home"), url(about:privatebrowsing) {
	/* Sets background image and autoscale image to browser window. */
	body{
		background-image: url("walpapers/wallpaper.jpg") !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed !important;
		background-position-x: center !important;
		background-position-y: bottom !important;
	}
	
	/* Changes pinned shortcuts background and text colors 
	.top-site-outer .tile {
		background-color: #2f3542 !important;
	}
	*/
	
	/* When hovering over a pinned shortcut 
	.top-site-outer:hover {
		background-color: #57606f !important;
	}
	*/
}
